#results #cheapest {
  font-size: 2em;
}
#results #all {
  margin:0;
  padding:0;
}

.jumbotron {
  text-align: center;
}
.jumbotron h1 {
  margin: 0;
}

.slide {
  transition: height 5s ease-in-out;
}
.slide .btn-primary {
  font-size: 2em;
}

#results-slide {
  text-align: center;
}

#results-slide ul {
  list-style-type: none;
}

.spacing-top {
  margin-top: 20px;
}
.spacing-top-small {
  margin-top: 5px;
}

.footer {
  color: #8f8f8f;
  padding-top: 25px;
  text-align: center;
  font-size: 0.85em;
}

.footer .glyphicon {
  font-size: 0.75em;
}
.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label {
 color: #ff0000;
}
