#results #cheapest {
  font-size: 2em;
}


.jumbotron {
  text-align: center;
}

.slide {
  transition: height 5s ease-in-out;
}

.hidden-height {
  height: 0px;
}

.footer {
  padding-top: 25px;
  text-align: center;
  font-size: 0.85em;
}

.footer .glyphicon {
  font-size: 0.75em;
}
